<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.png">
    
  </head>
  <body>
    <form class="form-scenario" id="question" name="question" method="post" action="/exam/reviewer">
      <%- include('partials/hiddeninputs.ejs') %>
      <%- include('partials/toparea.ejs') %>

      <div class="center-area">
        <div class="content-area" id="content_area" style="float:left;">
          <%- include('partials/intro.ejs') %>
            
          <% for (i=0; i<page.question.Questions.length; i++) { 
            var inputs = JSON.parse(page.inputs);
            var selIndex = Math.max(0, inputs.inputs[page.questionNo].answer[i]);  
            var correctIndex = inputs.inputs[page.questionNo].correct[i];
            %>

            <p><%=page.question.Questions[i].Header %></p><br>

            <% for (j=0; j<page.question.Questions[i].Options.length; j++) { 
              var correctStr = (Math.pow(2, j) & correctIndex) ? "correct" : "";
              %>
              <% if (Math.pow(2, j) & selIndex) { %> 
                <input type="checkbox" id="cb_<%=i%>_<%=j%>" value="<%=Math.pow(2,j) %>" name="cb_<%=i%>" checked="checked" disabled>
                <label for="cb_<%=i%>_<%=j%>" class="review-label <%=correctStr%>"><%= page.question.Questions[i].Options[j] %></label>
              <% } else { %>
                <input type="checkbox" id="cb_<%=i%>_<%=j%>" value="<%=Math.pow(2,j) %>" name="cb_<%=i%>" disabled>
                <label for="cb_<%=i%>_<%=j%>" class="review-label <%=correctStr%>"><%= page.question.Questions[i].Options[j] %></label>
              <% } %>   
            <% } %>
          <% } %>
          <h4>Explanation</h4>
          <% for (i=0; i<page.question.Explanations.length; i++) { %>
            <% if (page.question.Explanations[i].startsWith('<')) { %> <%- page.question.Explanations[i] %> <% } else { %>
            <p><%=page.question.Explanations[i] %></p>
            <% } %>
          <% } %>
        </div>
      </div>
      <%- include('partials/bottomarea.ejs') %>
    </form>
  </body>
</html>
