<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.png">
    <%- include('partials/timer.ejs') %>
  </head>
  <body>
    <form class="form-scenario" id="question" name="question" method="post" action="/exam/controller">
      <%- include('partials/hiddeninputs.ejs') %>
      <%- include('partials/toparea.ejs') %>
      
      <div class="center-area">
        <div class="content-area" style="float:left;">
          <%- include('partials/intro.ejs') %>
          
          <% for (i=0; i<page.question.Questions.length; i++) { 
            var inputs = JSON.parse(page.inputs);
            var selIndex = inputs.inputs[page.questionNo].answer[i];  %>

            <p><%=page.question.Questions[i].Header %></p><br>
            
            <% for (j=0; j<page.question.Questions[i].Options.length; j++) { %>
              <% if (j != selIndex) { %> 
              <input type="radio" id="radio_<%=i%>_<%=j%>" value="<%=j%>" name="radio_<%=i%>" ><label for="radio_<%=i%>_<%=j%>" class="mylabel"><%= page.question.Questions[i].Options[j] %></label>
              <% } else { %>
              <input type="radio" id="radio_<%=i%>_<%=j%>" value="<%=j%>" name="radio_<%=i%>" checked="checked" ><label for="radio_<%=i%>_<%=j%>" class="mylabel"><%= page.question.Questions[i].Options[j] %></label>
              <% } %>   
            <% } %>
          <% } %>
        </div>
      </div>
      <%- include('partials/bottomarea.ejs') %>
    </form>
  </body>
</html> 
 
